header {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  padding: 10px;
  color: #ddd;
  background: black;
}

.home-logo {
  font-size: 2em;
  padding: 10px;
  color: #ddd;
  background: black;
}
